include *.py
include *.txt
include *.rst
include buildout.cfg
include tox.ini
include .coveragerc
include .travis.yml
recursive-include src *.gif
recursive-include src *.pt
recursive-include src *.zcml
